@media(max-width:900px){
	.container{
		flex-direction: column;
		padding-block: 20px;
	}
	.rightside-gallery{
		width: 100%;
	}

}

@media(max-width:600px){
	.image{

		grid-row: span 1;
		grid-column: span 3;
		grid-auto-rows: 220px;
	}
}

