@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: "Libre Bodoni", serif;
	font-size: 1.2rem;
}

/*css variables*/

:root{

	--text-color:white;
	--background-color:green;
	
}

.container{
	display: flex;
	justify-content: space-evenly;
	min-height: 100vh;
	align-items: center;
	gap: 20px;
	background: var(--background-color);
}
.leftside-text{
	flex-basis: 30%;
	color: var(--text-color);
	text-align: center;

}
.rightside-gallery{
	flex-basis: 50%;
	display: grid;
	gap: 10px;

	grid-template-columns:repeat(3, 1fr);
	grid-auto-rows: 120px;
	color: var(--text-color);
}

.image{
	background-size: cover;
	background-position: top;
	
	background-color: black;
	background-blend-mode: hard-light;
	transition: 1s ease;
}

.image:hover{
	background-color: #999;
	background-position: center;
	box-shadow: 0 0 4px white;
}

/*#box-1{
	grid-row: span 2;
}*/

.row2{
	grid-row: span 2;
}
.col2{
	grid-column: span 2;
}



